.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    overflow: hidden; /* overflow must be handled by child container */
  }

.link-button {
    border: none;
    background-color: rgba(0,0,0,0);
    width: min-content;
    margin: 0;
    padding: 0;
}

.link-button-container > button {
    opacity: 0;
    transition: opacity .15s ease-in;
}
.link-button-container > button:hover {
    opacity: 1;
    transition: opacity .35s ease-out;
}